.list {
  max-width: 1700px;
  display: flex;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 20px;
  > li {
    width: 150px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
  }
}
.card {
  width: 150px;
}

.photo {
  width: 100%;
  object-fit: cover;
}
